apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudflare-ddns-secret
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: cloudflare-ddns-secret
    creationPolicy: Owner
  data:
    - secretKey: "api-token"
      remoteRef:
        key: "secrets/cloudflare-ddns"
        property: "api-token"
