# Copy to credentials.prod.tfvars and fill in values.
# credentials.*.tfvars are gitignored.

proxmox_endpoint     = "https://192.168.1.10:8006/"
proxmox_api_token    = "terraform@pve!terraform=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
proxmox_ssh_username = "root"
proxmox_node         = "nodename"
proxmox_ssh_host     = "192.168.1.10"

github_username = "your-github-username"
